@tailwind base;
@tailwind components;
@tailwind utilities;

.error {
  animation: error 10s forwards;
  overflow: hidden;
}

@keyframes error {
  0% {
    max-height: theme('spacing.24');
  }
  90% {
    max-height: theme('spacing.24');
    padding: theme('spacing.2') theme('spacing.5');
  }
  100% {
    max-height: 0;
    padding: 0 theme('spacing.5');
  }
}
