@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: 
    filter ease-in-out,
    transform ease-in-out;
  filter: blur(0px);
  transform: scale(1);
}

body.background {
  filter: blur(3px);
  transform: scale(0.96);
}

/**
 * Default focus style
 */

*:focus {
  outline: none;
}

*:focus-visible {
  outline: 1px solid theme('colors.light.secondary');
  outline-offset: 3px;
}

input:focus-visible {
  outline: none;
  background-color: theme('colors.light.secondary');
}

@media (prefers-color-scheme: dark) {
  *:focus-visible {
    outline-color: theme('colors.dark.secondary');
  }

  input:focus-visible {
    background-color: theme('colors.dark.secondary');
  }
}

/**
 * Prevent users from selecting text like in a browser
 * for a more native experience.
 */
html {
  user-select: none;
}

/**
 * Useful for preventing users to click on an element.
 */
.unclickable {
  pointer-events: none;
}

/**
 * Use the theme of the app for the background of dialogs.
 */
dialog::backdrop {
  background-color: hsl(240, 24%, 4%, 0.66);
}

/**
 * Move the placeholder to the top of the input field.
 */
.input:focus+.placeholder,
.input:not(:placeholder-shown)+.placeholder {
  transform: translateY(-140%);
  font-size: theme('fontSize.sm');
  color: theme('colors.light.secondary');
}

@media (prefers-color-scheme: dark) {
  .input:focus+.placeholder,
  .input:not(:placeholder-shown)+.placeholder {
    color: theme('colors.dark.secondary');
  }
}

/**
  * Prevent the video to overflow in any container ratio.
  */
.video-max-width {
  max-width: calc(16 / 9 * 100 * 1vh);
}

/**
  * Messages at the top of the page.
  */

.message {
  max-height: 0;
  padding: 0 theme('spacing.5');
  transition-property: all;
  transition-timing-function: ease-out;
  overflow: hidden;
}

.message::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: hsl(0 0% 10% / 0.1);
  transition-property: transform;
  transition-timing-function: linear;
  transform: translateX(calc(var(--progress) * -100%));
}

.message.show {
  max-height: theme('spacing.24');
  padding: theme('spacing.2') theme('spacing.5');
}

/**
  * Animation for side menus.
  */

.openSideMenus,
.closeSideMenus {
  --min: calc(41ch + theme('spacing.3'));
  --max: calc(41ch + theme('spacing.3'));
  --duration: 200ms;
  --padding: theme('spacing.3');
}

.openSideMenus {
  animation: openSideMenus var(--duration) forwards;
}

@keyframes openSideMenus {
  0% {
    min-width: 0;
    max-width: 0;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
  }

  99% {
    min-width: var(--min);
    max-width: var(--max);
    overflow: hidden;
    padding-left: var(--padding);
    padding-right: var(--padding);
  }

  100% {
    min-width: var(--min);
    max-width: var(--max);
    padding-left: var(--padding);
    padding-right: var(--padding);
    overflow: visible;
  }
}

.closeSideMenus {
  animation: closeSideMenus var(--duration) forwards;
}

@keyframes closeSideMenus {
  0% {
    min-width: var(--min);
    max-width: var(--max);
    overflow: visible;
    padding-left: var(--padding);
    padding-right: var(--padding);
  }

  1% {
    min-width: var(--min);
    max-width: var(--max);
    overflow: hidden;
    padding-left: var(--padding);
    padding-right: var(--padding);
  }

  100% {
    min-width: 0;
    max-width: 0;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
  }
}

/**
 * Modal transition.
 */

.showModal,
.showModal::backdrop,
.hideModal,
.hideModal::backdrop  {
  /**
   * Hardcoded because I didn't find a way to
   * access ::backdrop from js, even set a custom
   * css property doesn't seem to work. Change it in
   * modal.ts too.
   */
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.showModal,
.showModal::backdrop {
  animation-name: showModal;
}

.hideModal,
.hideModal::backdrop {
  animation-name: hideModal;
}

@keyframes showModal {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hideModal {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
