@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Source Sans Pro", sans-serif;
  }

  *:focus {
    outline: none;
    outline: solid theme("colors.light.complementary.400") 2px;
    border-radius: 2px;
  }
}

@layer components {
  /**
   * Prevent the video to overflow in any container ratio.
   */
  .video-max-width {
    max-width: calc(16 / 9 * 100 * 1vh);
  }

  .h-dvh {
    height: calc(var(--vh, 1vh) * 100);
  }
}

/**
 * Move the placeholder to the top of the input field.
 */
.input:focus + .placeholder,
.input:not(:placeholder-shown) + .placeholder {
  transform: translateY(-140%);
  font-size: theme("fontSize.sm");
  color: theme("colors.light.secondary.900");
}

@media (prefers-color-scheme: dark) {
  .input:focus + .placeholder,
  .input:not(:placeholder-shown) + .placeholder {
    color: theme("colors.dark.secondary");
  }
}

/**
 * Animation for side menus.
 */

.openSideMenus,
.closeSideMenus {
  --min: calc(41ch + theme("spacing.3"));
  --max: calc(41ch + theme("spacing.3"));
  --duration: 200ms;
  --padding: theme("spacing.3");
}

.openSideMenus {
  animation: openSideMenus var(--duration) forwards;
}

@keyframes openSideMenus {
  0% {
    min-width: 0;
    max-width: 0;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
  }

  99% {
    min-width: var(--min);
    max-width: var(--max);
    overflow: hidden;
    padding-left: var(--padding);
    padding-right: var(--padding);
  }

  100% {
    min-width: var(--min);
    max-width: var(--max);
    padding-left: var(--padding);
    padding-right: var(--padding);
    overflow: visible;
  }
}

.closeSideMenus {
  animation: closeSideMenus var(--duration) forwards;
}

@keyframes closeSideMenus {
  0% {
    min-width: var(--min);
    max-width: var(--max);
    overflow: visible;
    padding-left: var(--padding);
    padding-right: var(--padding);
  }

  1% {
    min-width: var(--min);
    max-width: var(--max);
    overflow: hidden;
    padding-left: var(--padding);
    padding-right: var(--padding);
  }

  100% {
    min-width: 0;
    max-width: 0;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
  }
}
