
name: "test-on-pr"
on: [pull_request]

jobs:
  test-on-pr:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: setup node
      uses: actions/setup-node@v1
      with:
        node-version: 16
    - name: install app dependencies
      run: npm i -g pnpm && pnpm i
    - name: run the tests
      run: pnpm test:run
    - name: build with ts
      run: pnmp build
